@font-face {
    font-family: proxima;
    src: url(../proxima_ssv/Proxima\ Nova\ Bold.otf);
}
@font-face {
    font-family: vazir-extraBold;
    src: url(../fonts/ttf/Vazirmatn-ExtraBold.ttf);
}

@font-face {
    font-family: vazir-bold;
    src: url(../fonts/ttf/Vazirmatn-Bold.ttf);
}

header{
    
    padding : 100px;
    background : linear-gradient(to right ,rgb(250, 214, 52), rgb(63, 28, 5));
    background-position: left;
    color : #fff;
}

.s-btn{
    background : rgb(255, 187, 1);
    border-radius: 25px;
    width : 110px;
}

h1{
    font-family: vazir-extraBold;
    font-size: 50px;
}

.modal-box{
    position: fixed;
    align-items: center;
    justify-content: center;
    
}

h2{
    font-family: vazir-bold;
    color :rgb(154, 103, 235);
}
.about-us{
    background : #c4f3e7;
}

input, textarea{
    width : 315px;
}

@media screen and (max-width : 610px) {
    h1{
        font-size : 50px;
    }
    img{
        width : 100% !important;
    }

}

@media screen and (max-width : 339px) {
    input, textarea{
        width : 100%;
    }
}